body {
  display: flex;
  justify-content: space-around;
  background-color: black;
  margin: 0;
  padding: 0;
  margin-top: 75px;
  /*height: 100%;*/
  font-family: Helvetica, sans-serif;
  text-shadow:
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;
  color: #FFD700;
  font-weight: 600;
}

canvas {
  position: absolute;;
  height: 500px;
  width: 1000px;
  border: 1px solid white;
}

#falcon {
  display: none;
}

#rock {
  display: none;
}

#title-screen {
  position: relative;
  height: 500px;
  width: 1000px;
  cursor: pointer;
}

#title-screen > h1 {
  position: absolute;
  font-size: 50px;
  left: 170px;
}

#title-screen > p {
  position: absolute;
  font-size: 40px;
  left: 450px;
  top: 70px;
}

#title-screen:hover > p {
  color: #FF7F00;
}

#mute-button {
  position: absolute;
  bottom: 70px;
  background: url("http://res.cloudinary.com/dfmvfna21/image/upload/v1479491798/Speaker_Icon_jyta2z.png");
  height: 40px;
  width: 40px;
  background-color: black;
  border: none;
  outline: none;
  cursor: pointer;
}

.title-background {
  position: absolute;
  width: 1000px;
  height: 500px;
  top: 1px;
}

.title-explosion {
  position: absolute;
  top: 1px
}

.title-falcon {
  position: absolute;
  bottom: -37px;
  left: 340px;
  transform: rotate(16deg);
}

.rocks {
  position: absolute;
  top: 15px;
  left: 150px;
  transform: rotate(91deg);
}

.game-over {
  background-image: url("http://res.cloudinary.com/dfmvfna21/image/upload/v1479446616/explosion_PNG15401_fhkpyd.png");
  position: absolute;
  align-self: center;
  font-size: 50px;
  display: none;
  flex-direction: column;
  align-items: center;
  height: 475px;
  width: 750px;
  justify-content: center;
  top: 90px;
  cursor: pointer;
}

.game-over > p {
  margin: 25px 0;
}

.game-over > span {
  font-size: 40px;
  position: relative;
}

.game-over:hover > span {
  color: #FF7F00;
}

.description {
  position: absolute;
  top: 575px;
  font-size: 20px;
  width: 975px;
  text-align: center;
}

footer {
  padding: 20px;
  position: absolute;
  bottom: 0;
}

footer > a {
  font-family: Helvetica, sans-serif;
  text-shadow:
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;
  color: #FFD700;
  font-weight: 600;
  text-decoration: none;
  padding: 0 20px;
}

footer > a:hover {
  color: #FF7F00;
}
